@font-face {
	font-family: didot;
	src: url(/fonts/didot.ttf);
}

@font-face {
	font-family: bebas-bold;
	src: url(/fonts/BebasNeueBold_1.otf);
}

@font-face {
	font-family: bebas;
	src: url(/fonts/BebasNeueBook.otf);
}

@font-face {
	font-family: bebas-mid;
	src: url(/fonts/BebasNeueRegular_0.otf);
}

@font-face {
	font-family: rob;
	src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: rob-b;
	src: url(/fonts/Roboto-Bold.ttf);
}






::-webkit-scrollbar {
	display: none;
}

body{
	background-color: #1d1f23;
	margin:0px;
}

.slyt{
	width: 233px;
	transition: width 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.menu {
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0;
	top:-30px;
	position: relative;
	transition: opacity 1s, top 1s cubic-bezier(0.19, 1, 0.22, 1);
}


.frontpage-text:hover > .floater > .slyt{
	width: 120px;
}

.frontpage-text:hover > .floater > .menu{
	opacity: 1;
	top: 0px;
}

.toTop{
	width: 120px;
}



.frontpage-text{
	font-family: rob;
	width: 100%;
	position: absolute;
	z-index: 200;
	color:white;
	text-align: center;
}

.video{
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	object-fit: cover;

}

.smalltext {
	font-size: 15px;
}

.mediumtext {
	font-size: 40px;
}

.largetext {
	font-size: 50px;
}

.didot {
	font-family: rob;
}



a {
	color: #FFFFFF;
	text-decoration: none;
}

.slash{
	width:10px;
	position:relative;
	top:8px;
}

.center{
	width: 100%;
	z-index: 100;
	color:#808080;
	text-align: center;
}

.babas-bold {
	font-family: bebas-bold;
}

.bebas {
	font-family: bebas;
}


.centerbox {
	padding-left: 0px;
	padding-top: 4px;
	width: 900px;
	margin: 0 auto;
	top: 100px;
	//background: rgba(0, 0, 0, 0.14);
	z-index: 50;
}

.centerbox2 {
	padding-left: 0px;
	///padding-top: 4px;
	width: 900px;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.14);
	z-index: 50;
}

.wrapper{
	font-size: 30px;
	font-family: bebas;
	font-style: bold;
	padding:100px;
}

th, td {
	font-family: didot;
	font-size: 40px;
	color:white;
	padding: 15px;
}


.rubrik{
	font-size: 15px;
	text-align: justify;
	line-height: 20px
}

.thumbnail{
	overflow: hidden;
	display: inline-block;
	position: relative;
	width: 20%;
	height: 33%;
	margin-top: -4px;
	opacity: 0;
}

.thumbimg{
	width: 100%;
	height: auto;
}

.thumbtext{
	width: 100%;
	font-family: bebas-mid;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;

}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width:100%;
	opacity: 0;
	transition: .4s ease-out;
	background-color: rgba(0, 0, 0, 0.45);
}

.thumbnail:hover .overlay {
	opacity: 1;
}


.thumbnail:hover .thumbimg {
	filter: blur(5px);	
	display: inline;
}

.portfolio-content{
	margin:0px;
	opacity: 0;
	position:absolute;
	background:rgba(0, 0, 0, 0.95);
	width:900px;
	height:0px;
	z-index:100;
	margin-top:-4px;
}


.upper-headline {
	color: white;
	font-family: rob-b;
	font-size: 25px;
	position:absolute;
	background:rgba(0, 0, 0, 0.35);
	margin-top:-85px;
	overflow:visible;
	padding: 5px 7px;
	margin-left:0px;
}


.lower-headline {
	color: white;
	font-family: rob;
	font-size: 13px;
	position:absolute;
	background:rgba(0, 0, 0, 0.35);
	margin-top:-37px;
	overflow:visible;
	padding: 5px;
	margin-left:0px;
}

.clicker:hover {cursor: pointer}


.exit{
	opacity: 0;
	position:absolute;
	font-size:20px;
	z-index:200;
	color:white;
	margin-left:865px;
	margin-top:10px;
	font-family: rob-b
}

.animatingIcon {
	width: 0px;
	position: absolute;
	margin-top:-40px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	
}
path{
	fill: #FFFFFF;
}

#ghLogo{
	width: 33px;
	height:33px;
	position: absolute;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#ball{
	opacity: 0;
	position: relative;
	line-spacing: 0px;
	height: 8px;
	font-size: 0px;
	display: -webkit-inline-box;
}



.nullify{
	text-decoration: line-through;
	color:#ACACAC;

}

.smallQuote{
	font-size: 10px;
}



.st0{fill:none;stroke:#000000;stroke-width:3;stroke-miterlimit:10;}


@media only screen and (max-width: 1000px) {
	.slyt{
		margin-top: -5vh;
		width:50%;
	}
	.frontpage-text:hover > .floater > .slyt{
		width: 30%;
	}

	.frontpage-text:hover > .floater > .menu{
		top: 25px;
	}

	#ball{
		opacity: 0!important;
		
	}

	.smalltext {
		font-size: 32px;
	}
	
	.mediumtext {
		font-size: 40px;
	}
	
	.largetext {
		font-size: 50px;
	}

	.slash{
		top: 14px;
		width: 20px;
	}

	
}
