@font-face {
	font-family: didot;
	src: url(fonts/didot.tff);
}

@font-face {
	font-family: bebas-bold;
	src: url(fonts/BebasNeueBold_1.otf);
}

@font-face {
	font-family: bebas;
	src: url(fonts/BebasNeueBook.otf);
}

::-webkit-scrollbar { 
	display: none; 
}

body{
	background-color: #1d1f23;
	margin:0px;
}

.frontpage-text{
	font-family: didot;
	width: 100%;
	position: absolute;
	z-index: 100;
	color:white;
	text-align: center;
}

.video{
	height: 100%;
	width: 100%;
	overflow:hidden;
	position: relative;
	object-fit: cover;

}

.smalltext {
	font-size: 18px;
}

.mediumtext {
	font-size: 40px;
}

.largetext {	
	font-size: 50px;
}

.didot {
	font-family: didot;
}

.menu {
	margin-top: 10px;
	margin-bottom: 10px;
	opacity: 0;
	top:-30px;
	position: relative;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

.slash{
	width:10px;
	position:relative;
	top:7px;
}

.center{
	width: 100%;
	z-index: 100;
	color:#808080;
	text-align: center;
}

.babas-bold {
	font-family: bebas-bold;
}

.bebas {
	font-family: bebas;
}


.centerbox {
    width: 800px;
    height: 50vh;
    margin: 0 auto;
	top: 100px;
	text-align: center;
    background: rgba(0, 0, 0, 0.14);
}

.wrapper{
	font-size: 30px;
	font-family: bebas;
	font-style: bold;
	padding:100px;
}

th, td {
	font-family: didot;
	font-size: 40px;
	color:white;
    padding: 15px;
}


.rubrik{
	font-size: 15px;
	text-align: justify;
	line-height: 20px
}